* {
    position: absolute;
    left: 0%;
    right: 0%;
    font-style: normal;
    display: flex;
    align-items: center;
}

.Footer,
.Donation,
.Help,
.Pets,
.About,
.Start_screen {
    top: 0;
}

.Footer {
    height: 350px;
    top: 3446px;
}

.Donation {
    height: 462px;
    top: 2984px;
    background: #F6F6F6;
}

.Help {
    height: 611px;
    top: 2373px;
    background: #FFFFFF;
}

.Pets {
    height: 877px;
    top: 1496px;
    background: #F6F6F6;
}

.About {
    height: 588px;
    top: 908px;
    background: #FFFFFF;
}

.Start_screen {
    height: 908px;
    top: 0px;
}

.Header {
    width: 1200px;
    height: 60px;
    left: calc(50% - 1200px/2);
    top: calc(50% - 60px/2 - 1838px);
}

.header_logo {
    width: 184px;
    height: 60px;
    top: 0px;
}

.header_logo_title {
    width: 184px;
    height: 35px;
    top: calc(50% - 35px/2 - 12.5px);
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.header_logo_subtitle {
    width: 179px;
    height: 15px;
    left: 4px;
    top: calc(50% - 15px/2 + 22.5px);
    font-family: 'Arial';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.header_navmenu {
    width: 443px;
    height: 27px;
    left: 757px;
    top: 16px;
}

.header_navmenu_link1,
.header_navmenu_link2,
.header_navmenu_link_active,
.header_navmenu_link4 {
    flex-direction: column;
    padding: 0px;
    gap: 10px;
    top: 16px;
}

.header_navmenu_link1 {
    width: 60px;
    height: 24px;
    right: 0px;
}

.header_navmenu_link1_contacts {
    width: 60px;
    height: 24px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header_navmenu_link2 {
    width: 106px;
    height: 24px;
    right: 95px;
}

.header_navmenu_link2_help_the_shelter {
    width: 106px;
    height: 24px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 
